<footer class="site-footer">
  <div>© 2024-2026 Project Cafecito. All Rights Reserved.</div>
  <div class="site-footer-links">
    <a href="/docs/overview/">Company</a>
    <a href="/docs/terms-of-use/">Terms</a>
    <a href="/docs/privacy-policy/">Privacy</a>
    <a href="/blogs/">Updates</a>
    <a href="/contact/">Contact</a>
  </div>
</footer>
