---
const home = Astro.url.pathname === '/';
const productUrl = home ? '#products' : '/#products';
const aboutUrl = home ? '#about' : '/#about';
---

<nav class="top-nav">
  <div class="container top-nav-inner">
    <a href="/" class="brand">
      <img src="/images/cafecito.png" alt="Project Cafecito logo" />
      <span>Project Cafecito</span>
    </a>
    <details class="mobile-menu">
      <summary aria-label="Open navigation">☰</summary>
      <div class="mobile-menu-links">
        <a href={productUrl}>Products</a>        
        <a href="https://developer.cafecito.tech">APIs & MCPs</a>
        <a href="/blogs/">Blogs</a>
        <a href={aboutUrl}>Company</a>
        <a href="https://github.com/soumitsalman/cafecito/issues/new?template=general_contact.yml">Contact</a>
      </div>
    </details>
    <div class="nav-links">
      <a class="nav-pill" href={productUrl}>Products</a>
      <a class="nav-pill" href="https://developer.cafecito.tech">APIs & MCPs</a>
      <a class="nav-pill" href="/blogs/">Blogs</a>      
      <a class="nav-pill" href={aboutUrl}>Company</a>
      <a class="nav-pill" href="https://github.com/soumitsalman/cafecito/issues/new?template=general_contact.yml">Contact</a>
    </div>
  </div>
</nav>
